# JWT TOKEN SECRET KEY
JWT_TOKEN=EXAMPLE_TOKEN_KEY

# DATABASE PROPERTIES
DATABASE_HOST=localhost
DATABASE_USERNAME=root
DATABASE_PASSWORD=root
DATABASE_NAME=sky-krono
DATABASE_PORT=3306
 
# DEFAULT USER ADMIN
DEFAULT_USER_EMAIL=example@example.com
DEFAULT_USER_PASSWORD=Admin1

# EMAIL PROPERTIES
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USERNAME=user@example.com
EMAIL_PASSWORD=Admin1

# WEB PUSH PROPERTIES
PUBLIC_KEY=YOUR_PUBLIC_KEY
PRIVATE_KEY=YOUR_PRIVATE_KEY
EMAIL_WEB_PUSH=mailto:example@example.com

# WEB AUTHENTICATION PROPERTIES
RP_ID=YOUR_RP_ID #EXAMPLE skyzerozx.com or localhost
RP_ID_ARRAY=["localhost","skyzerozx.com"]
ORIGIN=["http://localhost:4200", "https://skyzerozx.com"]


# TIME ZONE PROPERTIES SEE DOCUMENTATION https://date-fns.org/v2.29.2/docs/Time-Zones
TZ=America/Bogota

# CACHE NESTJS PROPERTIERS
CACHE_MAX_ITEMS=100
CACHE_TTL=2

# CACHE MYSQL DATABASE PROPERTIES
ENABLED_MYSQL_CACHE=true

# AWS S3 PROPERTIES
AWS_REGION=YOUR_REGION_AWS
AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY_ID_AWS
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_ACCESS_KEY_AWS
AWS_BUCKET=YOUR_BUCKET_NAME


#LOGGER PROPERTIES
APP_NAME=SKY-KRONO
LOG_FOLDER=LOG
DATE_PATTERN=YYYY-MM-DD
TIMESTAMP_FORMAT=YYYY-MM-DD hh:mm:ss.SSS A
MAX_SIZE=20m
MAX_DAYS=14d

