# compiled output
/dist
/node_modules
/coverage
/coverage-e2e
/data
credentials.txt
querys.sql
dev_querys.sql

#ENV
.env

# Logs
/LOG
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

#Sonar
.scannerwork


# Tests
/coverage
/coverage-e2e
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json